<html>
  <head>
    <title>Hull Segment</title>
    <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  </head>
  <body class='container'>
    <div class=" mt-1 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Segment ↔ Hull</h3>
        </div>
        <div class="panel-body text-center">
          <p>Go to <strong><a href='https://segment.com' target='_blank'>Segment.com</a> → Integrations → Hull</strong>
          and paste the API key below</p>
          <div class="input-group">
            <input id="apiKey" type="text" class="form-control" value="<%= apiKey %>">
            <span class="input-group-addon">
              <a id='copy' class="btn" type="button" data-clipboard-demo="" data-clipboard-target="#apiKey">
                <img class="clippy" src="/clippy.svg" width="13" alt="Copy to clipboard">
              </a>
            </span>
          </div>
          <fieldset  class="text-center mt-1 pt-05 mb-1">
            <legend class="text-muted"><small>OR</small></legend>
            <span id="segment-enable-button" target='segment'></span>
          </fieldset>
        </div>
      </div>

      <div class="text-center alert alert-warning">
        <p>
          <em>
            For self-hosted Connectors, use a Segment Webhook instead of the packaged integration.
            <br/>
            Add the following URL and Header:
          </em>
        </p>
        <hr />
        <input class="form-control mb-1" value="https://<%= hostname %>/segment/" />
        <textarea class="form-control" rows="5">Authorization: "Basic <%= encoded %>"</textarea>
      </div>
    </div>
    <style type="text/css" media="screen">
      legend { 
        border-bottom-color: #CED7E4;
        height: 8px;
      }
      legend small {
        background-color:white;
        padding: 0 5px;
        font-size: 13px;
      }
      .input-group-addon{
        padding:0;
      }
      .input-group-addon .btn{
        height: 40px;
        padding-top:12px;
      }
    </style>
    <script src="//static.segment.com/enable-button/v1/index.js"></script>
    <script src="/clipboard.min.js"></script>
    <script>
      var clipboard = new Clipboard('#copy');
      var btn = new segment.EnableButton({
        element: '#segment-enable-button',
        integration: 'hull',
        size: 'large',
        settings: { apiKey: "<%= apiKey %>" }
      });
      btn.element.setAttribute('target', '_blank');
    </script>
  </body>
</html>
